//本主题特定样式
@import "theme/theme.scss";
@import "theme/color.scss";

//背景
$bg-color: $neutral50;
$text_color:$neutral900;

// 主要几种颜色
$primary: $blue400;
$info: $gray400;
$warning: $amber400;
$danger: $red500;
$success: $green500;
$disable: $gray300;

// 通用边距，间距等
// border
$border-width: 1px;
$border-radius: 4px;

// layout
$spacing: 8px;
$margin: 4px;

// 组件样式
// 按钮
$button-color: $gray200;
$tool-button-color: #f5f5f5;
// 菜单样式
$menu-hovered: transparentize($gray300, 0.5);
$menu-checked: transparentize($gray300, 0.5);
$menu-unchecked: transparent;

// tab样式
$tab-hovered: transparentize($gray300, 0.5);
$tab-checked: transparentize($gray300, 0.5);
$tab-unchecked: transparent;
$tab-bar-bg: transparent;

// progress
$progress-bg: $gray300;
$progress-chunk: $green700;
$progress-border: transparent;

// splashscreen
$splash-screen-bg: $gray200;

//card
$card-bg: $gray100;

//overlay
$overlay-bg: rgba(0, 0, 0, 0.5);
