@import "theme/color.scss";
@import "theme/light/app.scss";

KitSwitchIndicator{
  border: none;
  border-radius: 16px;
  background-color: transparent;
}



KitSwitch{
  border: $switch-border;
  border-radius: 16px;
  background-color: $switch-bg;
  &:disabled{
    background-color: $switch-disabled;
    border-color: $switch-disabled-border;
  }
  #indicator-inner{
    background-color: $switch-indicator-bg;
    border-radius: 12px;
    #indicator-inner-icon{
      color: $switch-indicator-icon-color;
    }
  }
  #indicator-inner{
    &:disabled{
      background-color: $switch-indicator-disabled;
    }
  }
}

KitSwitch[checked='true']{
  background-color: $switch-true-bg;
  &:disabled{
    background-color: $switch-true-bg-disabled;
  }
  #indicator-inner{
    background-color: $switch-indicator-true-bg;
    #indicator-inner-icon{
      color: $switch-indicator-icon-true-color;
    }
    &:disabled{
      background-color: $switch-indicator-icon-bg-disabled;
    }
  }
}