@import "theme/light/app.scss";

KitFileDropArea{
  background-color: $drop-bg;
  border: $drop-border;
  &:hover{
    background-color: $drop-bg-hover;
  }
  KitIcon{
    font-size:$drop-icon-size;
  }
}