@import "theme/color.scss";
@import "theme/light/app.scss";

CheckBoxIcon{
  background-color: $checkbox-icon-bg;
}

CheckBoxIcon > KitIcon{
  border:$checkbox-icon-border;
  color: $checkbox-icon-color;
  font-weight: 800;
  font-size: 20px;
  border-radius: $checkbox-icon-radius;
}

CheckBoxIcon[state='unchecked'] > KitIcon{
  background-color: $checkbox-icon-unchecked-color;
}
CheckBoxIcon[state='checked'] > KitIcon{
  background-color: $checkbox-icon-checked-color;
}
CheckBoxIcon[state='partial_checked'] > KitIcon{
  background-color: $checkbox-icon-partial-checked-color;
}


KitCheckBox{
    &:indicator{
      width: 32px;
      height: 32px;
      border-radius: 16px;
      background-color: $checkbox-indicator-bg;
      &:hover{
        background-color: $checkbox-indicator-bg-hover;
      }
    &:pressed{
      background-color: $checkbox-indicator-bg-pressed;
    }
  }
}


