QSlider{
  background-color: red;
  &:handle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
  }
  &:groove{
    height: 4px;
  }
  &:sub-page{
    background: blue;
  }
  &:add-page{
    background: green;
  }
}