@import "theme/theme.scss";
@import "theme/color.scss";
@import "theme/light/app.scss";

/* window */

KitWindowBody{
    background-color: $frameless-window-bg;
    padding: $frameless-window-padding;
    border-radius: $frameless-window-radius;
}

KitWindowBody[type='max']{
    border:none;
    border-radius: 0px;
}

KitTitleBar{
    background-color: $title-bar-bg;
}

//TitleBarButton{
KitTitleBar > #title_bar_button{
    background-color: transparent;
    &:hover{
        background-color: transparentize($gray400, 0.8);
    }
    &:pressed{
        background-color: transparentize($gray600, 0.6);
    }
}

KitTitleBar > #title_bar_close_button{
    background-color: transparent;
    &:hover{
        background-color: $red400;
    }
    &:pressed{
        background-color: $red600;
    }
}