KitSpinBox, KitDoubleSpinBox, KitDateSpinBox, KitTimeSpinBox, KitDateTimeSpinBox{
  border: $spin-box-border;
  border-radius: $spin-box-border-radius;
  background-color: $spin-box-bg;
  &:up-button {
    background-color: $spin-box-button-bg;
    border-top-right-radius: $spin-box-button-border-radius;
    &:hover{
      background-color: $spin-box-button-bg-hover;
    }
    &:pressed{
        background-color: $spin-box-button-bg-pressed;
    }
  }
  &:down-button {
    background-color: $spin-box-button-bg;
    border-bottom-right-radius: $spin-box-button-border-radius;
    &:hover{
      background-color: $spin-box-button-bg-hover;
    }
    &:pressed{
        background-color: $spin-box-button-bg-pressed;
    }
  }
}

#spinbox_icon{
  font-size: 16px;
}