/* window */
KitFramelessWindow>KitWindow{
    border-radius: $frameless-window-radius;
}

KitWindowBody{
    background-color: $frameless-window-bg;
    padding: $frameless-window-padding;
    border-radius: $frameless-window-radius;
}


KitWindowBody[type='max']{
    border:none;
    border-radius: 0px;
}

KitTitleBar{
    background-color: $title-bar-bg;
}

//TitleBarButton{
KitTitleBar > #title_bar_button{
    background-color: $title-bar-button-bg;
    &:hover{
        background-color: $title-bar-button-hovered;
    }
    &:pressed{
        background-color: $title-bar-button-pressed;
    }
}

KitTitleBar > #title_bar_close_button{
    background-color: $title-bar-close-button-bg;
    &:hover{
        background-color: $title-bar-close-button-hovered;
    }
    &:pressed{
        background-color: $title-bar-close-button-pressed;
    }
}