KitComboBox{
  background-color: $combobox-bg;
  border: $combobox-border;
  border-radius: $combobox-radius;
  &:hover{
    background-color: $combobox-bg-hover;
    border-color: $combobox-border-color-hover;
  }
  &:disabled{
    background-color: $combobox-bg-disabled;
  }
  &:drop-down{
    background:transparent;
  }
  QAbstractItemView {
    outline: 0px;   /* 选定项的虚框 */
    border: 1px solid $gray300;   /* 整个下拉窗体的边框 */
    border-radius: 4px;
    color: black;
    background-color: $gray100;   /* 整个下拉窗体的背景色 */
    &:item{
      height: 32px;
      margin:$margin;
      border-radius: $border-radius;
      color:$combobox-item-color;
      &:selected {
        background-color: $combobox-item-bg-selected;
      }
      &:hover{
        background-color: $combobox-item-bg-hover;
      }
    }
  }
}

#combobox_icon{
  font-size: 16px;
}