TableHeader{
  background-color: transparent;
  border: none;
}

QTableWidget{
  border: none;
  background-color: transparent;
}

TableHeader TableCellWidget{
  border-top: $table-header-top-border;
  border-bottom: $table-header-bottom-border;
  background-color: $table-header-bg;
  font-weight: 900;
}

TableBody{
  border:none;
  background-color: transparent;
  outline: none;
  &:item{
    &:select{
      border: none;
    }
  }
}

TableBody TableCellWidget{
  background-color: $gray100;
  border-bottom: $table-cell-bottom-border;
}

TableBody TableCellWidget[row='even']{
  background-color: $table-cell-even-row-bg;
}

TableBody TableCellWidget[row='odd']{
    background-color: $table-cell-odd-row-bg;
}

TableBody TableCellWidget[row='current']{
  background-color: $table-cell-current-row-bg;
}

TableBody TableCellWidget[row='hovered']{
  background-color: $table-cell-hovered-row-bg;
}

#table_freeze{
  border-right-width: 6px;
  border-right-style: solid;
  QScrollBar{
    &:vertical {
      width: 0px;
    }
  }
}

TablePagination{
  background-color: transparent;
  KitLineEdit{
    border: $table-page-input-border;
  }
  #page_icon{
    border:none;
    background-color: $table-page-button-bg;
    &:hover{
      background-color: $table-page-button-bg-hover;
    }
    &:pressed{
      background-color: $table-page-button-bg-pressed;
    }
  }
}




