//有个很奇怪的现象，在某些时候，font-size 不会使icon变大，但是使其变清晰。
//参考： kit_checkbox.scss  kit_combobox.scss

KitIcon{
  font-family: $icon;
  font-size: $icon-size;
  background-color: $icon-bg;
}

KitIcon[type='primary']{
  color: $primary;
}
KitIcon[type='success']{
  color: $success;
}
KitIcon[type='warning']{
  color: $warning;
}
KitIcon[type='danger']{
  color: $danger;
}

KitMdIcon{
  font-family: $icon;
  font-size: $icon-size;
  background-color: $icon-bg;
}

KitFtIcon{
  font-size: $icon-size;
  background-color: $icon-bg;
  font-family: $ft-icon;
}

KitFtFilledIcon{
  font-size: $icon-size;
  background-color: $icon-bg;
  font-family: $ft-icon-filled;
}